@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');;
d* {
    outline: 1px dotted lime;
}

body, html {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.header {
    background-color: #303030;
    color: white;
    height: 90px;
    border-bottom: 6px solid #4B4E61;
}

.nav {
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

.logo {
    margin-top: 35px;
    font-size: 1.6rem;
}

.links {
    margin-top: 40px;
    font-size: 0.9rem;
    text-align: right;
    color: #E7C582;
}

.links, a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

/*  #C2262F */
.banner {
    background-color: #800000 ;
    padding: 20px 0px ;
    text-align: center;
}

.banner img {
    max-width: 780px;
    width: 90%;
}

/*  About me */

#about_container {
    background-color: #F2F2F2;
    color: #303030;
    font-size: 1.4em;
   
}

#about_container, h1 {
    font-weight: 100;
    margin: 0;
}

.about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 50px;
    padding-bottom: 50px;
    grid-column-gap: 10px;
}

.about, h2 {
    font-size: 1.6em;
    font-weight: 100;
    margin: 0;
}

.about, p {
    font-size: 0.9em;
    line-height: 1.8em;
}

.about, img {
    max-height: 100%;
    max-width: 100%;
    
}


/* Art Painting section */

#painting {
    background-color: #303030;
    color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pictures-container {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.painting-images {
    text-align: right;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    
}

.painting-images-three {
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
}

#painting .pictures-description, #p {
    font-size: 1.4em;
    font-weight: 100;
}

#painting .pictures, #h1 {
    font-size: 1.3em;
    line-height: 1.8em;
    font-weight: 100;
}

#painting, #img {
    max-height: 100%;
    max-width: 100%;
    
}

/* Graphic Design section */

#graphic {
 background-color: #F2F2F2;
    color: #303030;
    padding-top: 10px;
    padding-bottom: 10px;  
}

.photos-description { 
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.photos {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

#centered {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

#graphic .photos-description  {
    font-size: 1.4em;
    font-weight: 100;
}

#graphic .photos, #h1 {
    font-size: 1em;
    font-weight: 100;
    line-height: 1.8em;
}

#graphic, #img {
    max-height: 100%;
    max-width: 100%;
}


/* Fashion Design Section */
#fashion {
    background-color: #303030;
    color: #F2F2F2;
}

.fashion-description {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.fashion-container, h1 {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pictures {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}


#fashion .fashion-container {
    font-size: 1.8em;
}

#fashion, #pictures, #p {
    font-size: 0.7em;
    line-height: 1.8em;
}

#fashion, #design, #p, #img {
    padding-right: 0.3em;
    padding-top: 1em;
    font-weight: 100;
}

#fashion, #img {
    max-height: 100%;
    max-width: 100%;
}

 /* footer */

#footer {
    color: #303030;
    background-color: #FFFFFF;
    font-size: 0.7em;
    padding: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 65% auto;
    max-width: 950px;
    margin: auto;
}

.social {
    text-align: right;
}

.copyright {
    margin-top: 20px;
}
    
.social img {
    height: 50px;
}
